
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.signup{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(65, 9, 165,0.7),rgba(65, 9, 165,0.7)),url("../images/signinbg.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{

    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 10%;
    left:35%;
    transform:translate(-30,-30);
    background: #fff;
    padding: 40px 60px 50px;
    text-align: center;
}

.form-box>h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    color: rgb(65, 9, 165);
    position: relative;
}

.form-box h1::after{
    content: " ";
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background:rgb(65, 9, 165);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}


.input-fields{
    width: 100%;
    background: #eaeaea;
    margin: 15px 0px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input{
    width: 100%;
    background:transparent ;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-fields i {
    margin-left: 15px;
    color: #999;
}

form p{
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: #3c00a0;
}

/* button design */

/* .input-group{
    height: 280px;
} */

#login-btn{
    background-color:  rgb(65, 9, 165);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
}

.form-2{
    margin-top: 20px;
}

